@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  /* Colors */
  --color-neutral-50: #fcfcfc;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f2f2f2;
  --color-neutral-300: #e3e3e3;
  --color-neutral-400: #d9d9d9;
  --color-neutral-500: #c9c9c9;
  --color-neutral-600: #a8a8a8;
  --color-neutral-700: #666666;
  --color-neutral-800: #232323;
  --color-neutral-900: #131313;
  --color-neutral-950: #070707;
  --color-primary-50: #fef7ff;
  --color-primary-100: #fdedff;
  --color-primary-200: #fad4ff;
  --color-primary-300: #f5b8ff;
  --color-primary-400: #eb85ff;
  --color-primary-500: #dc50ff;
  --color-primary-600: #bf40e6;
  --color-primary-700: #932cbf;
  --color-primary-800: #6c1d99;
  --color-primary-900: #4a1073;
  --color-primary-950: #29074a;
  --color-other-red-500: #cb0000;
  --color-other-red-700: #ad0000;

  /* Tokens */
  --color-surface-brand: var(--color-primary-300);
  --color-surface-brand-contrast: var(--color-primary-500);
  --color-surface-danger: var(--color-other-red-500);
  --color-surface-danger-contrast: var(--color-other-red-700);
  --color-surface-primary: var(--color-neutral-50);
  --color-surface-primary-inverted: var(--color-neutral-950);
  --color-surface-secondary: var(--color-neutral-200);
  --color-surface-secondary-contrast: var(--color-neutral-300);
  --color-text-brand: var(--color-neutral-950);
  --color-text-brand-contrast: var(--color-neutral-50);
  --color-text-danger: var(--color-neutral-50);
  --color-text-danger-contrast: var(--color-neutral-50);
  --color-text-primary: var(--color-neutral-950);
  --color-text-primary-inverted: var(--color-primary-50);
  --color-text-secondary: var(--color-neutral-900);
  --color-text-secondary-contrast: var(--color-neutral-700);
}

::view-transition-old(app-modal-slide-out) {
  @apply animate-out duration-300 fill-mode-both slide-out-to-bottom;
}

::view-transition-old(app-modal-fade-out) {
  @apply animate-out duration-300 fade-out-0 fill-mode-both;
}
